{% extends "base.html" %}

{% block title %}Список групп{% endblock %}

{% block content %}
    <h1>Список журналов по учебным группам</h1>
    <a class="btn btn-success" href="{% url 'group_add' %}">+ Добавить группу</a>
    <table class="table-journal">
        <thead>
            <tr>
                <th>№</th>
                <th>Группа</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{{ group.get_absolute_url }}">
                            {{ group }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}