{% extends 'base.html' %}

{% block title %}Добавить оценку{% endblock %}

{% block content %}
    <h1>Добавить оценку</h1>
    <p>Преподаватель: {{ user.last_name }} {{ user.first_name }}</p>
    <p>Предмет: {{ lesson }}</p>
    <p>Группа: {{ group }}</p>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        <div class="create-form">

            <div>
                {% csrf_token %}
                <p>
                    <label for="{{ form.birth_date.id_for_label }}">Студент:</label> <br>
                    {{ form.student }}
                    {{ form.student.errors }}
                </p>

                <p>
                    <label for="{{ form.created.id_for_label }}">Дата занятия:</label> <br>
                    {{ form.created }}
                    {{ form.created.errors }}
                </p>

                 <p>
                    <label for="{{ form.score.id_for_label }}">Оценка:</label> <br>
                    {{ form.score }}
                    {{ form.score.errors }}
                </p>
            </div>


            <div id="contact">
                <input type="submit" class="save_button" value="Сохранить">
            </div>

        </div>
    </form>
{% endblock %}