{% extends "base.html" %}

{% block title %}Список преподавателей{% endblock %}

{% block content %}
    <h1>Преподаватели</h1>
    <table class="table-journal">
        <thead>
            <tr>
                <th>№</th>
                <th>Фото</th>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Куратор</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img class="user-avatar-mini" src="{{ user.photo.url }}" alt=""></td>
                    <td>
                        <a href="{{ user.teacher.get_absolute_url }}">
                            {{ user.get_full_name }}
                        </a>
                    </td>
                    <td>{{ user.teacher.position }}</td>
                    <td>
                        <a href="{{ user.teacher.group_manager.get_absolute_url }}">{{ user.teacher.group_manager }}</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}