{% block sidebar %}
    <h3>Личный кабинет</h3>
    <img class="user-avatar" src="/static/{{ user.photo }}" alt="{{ user.first_name }} {{ user.last_name }}">
    <p><b>{{ user.last_name }} {{ user.first_name }} </b></p>
    <hr>
    <ul>
        <li><a href="{% url 'group_student_list' %}">Журналы по учебным группам</a></li>
        <li><a href="{% url 'teacher_list' %}">Преподаватели</a></li>
    </ul>
    <hr>
    <p><b>Настройки:</b></p>
    <ul>
        <li><a href="{% url 'logout' %}">Выйти</a></li>
    </ul>
{% endblock %}
